@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,700;1,600;1,700&display=swap');
@media only screen and (min-width: 992px){
    

    body{
        font-family: 'Raleway', sans-serif;

    }

    .barre_de_navigation{ /*Qui englobe le logo, hebergements, activites */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo_booki{ /* Position du logo */
        margin: 30px;
    }

    .logo_booki img{ /* Taille du logo */
        height: 50px;
    }

     /*Hergements et activites*/

    .hebergement a, .activite a{/*hebergement&activite text*/
        text-decoration : none;
    }


    .TXT_h, .TXT_a{/*Position bordure, text top*/
        display: flex;
        padding: 20px;
        border-top: white 5px solid;
        color: black;
        padding-top: 30px;
    }

    a:hover.TXT_h, a:hover.TXT_a{ /*couleur au survol + bordure*/
        border-top: #0065FC 5px solid;
        color: #0065FC;
    }

    
    
    .hebergement_et_activites{ /* Position du contenu des div hebergement et activite*/
        display: flex;
        margin-right: 40px;
        margin-top: 0px;
    }

    .hebergement, .activite{ /*fixe position de l'encadrement*/
        list-style-type: none;
        margin-block-start: 0em;
        padding-inline-start: 0px;
    }
    
    /* HEADER */

    header{
        font-family: 'Raleway', sans-serif;
        width: 90vw;
        height: 45vh;
        padding-left: 30px;
    }

    .Text_reve h1{ /*Trouvez votre hebergement*/
        font-size: 21.5px;
    }

    .Text_reve{ /*En plein centre ville*/
        line-height: 18px;
    }

    /*Barre de recherche*/
    
    #barre_de_recherche{ /*Le contenu de la barre*/
        background-color: #F2F2F2;
        width: fit-content;
        position: relative;
        width: 400px;
        height: 50px;
        border-radius: 15px;
        
    }

    .localisation{ /*Logo localisation */
        position: absolute;
        top: 15px;
        left: 15px;
        
    }


    input{ /*Barre de recherche*/
        position: absolute; 
        left: 50px;
        top: 2px;
        height: 46px;
        width: 220px;
        border: none;
        font-weight: bolder;
        font-size: 18px;
    }

    button{ /*Boutton rechercher*/
        position: absolute;
        right: 0px;
        width: 130px;
        height: 50px;
        border: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #0065FC;
        color: #F2F2F2;
        font-weight: bolder;
    }

    .fa-magnifying-glass{ /*La loupe du mobile*/
        display: none;
    }
    
    /* FILTRES */

    .contenu_filtre{ /*Contenu du filtre*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        border: 2px #F2F2F2 solid;
        width: fit-content;
        height: 48px;
        margin-left: 30px;
    }
    
    .logo_filtre{ /*Position du logo*/
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 50px;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -2px;
    }
    
    .text_filtre p{ /*Position du text*/
        display: flex;
        font-weight: bolder;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 18px;
    }

    .h3filtre{ /*position du test filtre*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .barre_filtre{ /* contenu de tout les filtres*/
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100px;
        width: 90vw;
    }
     /* Plus de 500 hebergement  */

     .Contenu-text{ /*Contenu du text*/
        display: flex;
        align-items: center;
    }

     .logo_i{ /*Position du logo*/
        display: flex;
        border-radius: 50px;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

     .fa-info{ /*Couleur du logo*/
        color: #0065FC;
    }

    /*  MAIN */

    main{ /* main de la page */
        display: flex;
        
        width: 94vw;
        height: 600px;
        margin-left: 30px;
        font-family: 'Raleway', sans-serif;
        justify-content: space-between;
    }

    .contenu-main{ /* contenu d'hebergement a marseille */
        display: flex;
        background-color: #F2F2F2;
        height: 110%;
        width: 64%;
        flex-direction: column;
        border-radius: 20px;
    }
    
    .Hebergement{ /* Hébegerment a marseille*/
        font-size: 20px;
        display: flex;
        margin-left: 28px;
        margin-top: 30px;
        background-color: #F2F2F2;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }

    .contenu-cartes{ /* le contenu des cartes a marseille */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        width: 94%;
        height: 70%;
        margin-left: 3%;
        margin-top: -1%;
    }

    .la_carte{ /* la carte */
        background-color: white;
        width: 30%;
        height: 44%;
        border: 5px white solid;
        margin: auto;
        border-radius: 20px;
    }

    .carte-image{ /* contenu de l'image*/
        height: 120px;/*1*/
        position: relative;/*2*/
        overflow: hidden;/*3*/
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .carte-image img{  /* image de la carte */
        width: 100%;/*4*/
        /*5 - Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
         top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .Nom_hotel{ /*le nom de l'hotel*/
        font-weight: bold;
        margin-top: -4%;
        margin-left: 5%;
        font-size: 18px;
    }

    .prix_hotel{ /* le prix de l'hotel */
        margin-top: -4%;
        margin-left: 5%;
    }

    .etoile_ligne{ /* etoile en bas de la carte */
        display: flex;
        margin-top: -4%;
        margin-left: 4%;
        align-items: center;
        color: #0065FC;
    }

    .etoile_desactive{ /* les etoile désactivé*/
        margin-top: 1px;
        color: #DEEBFF;
    }
    .etoile_desactive2{ /* la carte suivante etoile désactivé aussi */
        margin-top: 1px;
        color: #DEEBFF;
    }

    .etoile_active{ /* etoile active*/
        margin-top: 1px;
        color:#0065FC;
    }

    .affiches_plus{ /*afficher plus*/
        background-color: #F2F2F2;
        position: absolute;
        top: 143%;
        left: 5%;
        font-size: 20px;
        font-weight: bold;
    }

    .contenu-populaires{ /*contenu du titre populaire*/
        background-color: #F2F2F2;
        height: 110%;
        width: 33%;
        border-radius: 20px;
    }

    .Populaire{ /*titre du contenu*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F2F2F2;
        font-size: 20px;
        width: 79%;
        height: 10%;
        margin-left: 10%;
        margin-top: 7%;
    }

    .contenu_carte_populaire{ /*contenu des cartes populaire*/
        background-color: #F2F2F2;
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }

    .carte_populaire{ /*la carte populaire*/
        width: 79%;
        height: 34%;
        margin-left: 10%;
        margin-bottom: 6%;
        border-radius: 10px;
        background-color: white;
        border: 5px white solid;
    }

    .carte_image_populaire{ /*contenu de l'image de la carte populaire*/
        height: 147px;/*1*/
        width: 139px;
        position: relative;/*2*/
        overflow: hidden;/*3*/
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .carte_image_populaire1{ /* comme au dessus */
        height: 147px;/*1*/
        width: 139px;
        position: relative;/*2*/
        overflow: hidden;/*3*/
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .carte_image_populaire1 img{ /* l'image de la carte*/
        width: 115%;/*4*/
        /*5 - Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 23%;
        left: -24%;
        transform: translate(10%, -32%);
    }

    .carte_image_populaire img{ /*l'image de la carte aussi*/
        width: 169%;/*4*/
        /*5 - Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: -2%;
        left: -50%;
        transform: translate(10%, -1%);
    }

    .nom_populaire{ /* nom de la carte*/
        position: absolute;
        top: 76%;
        right: 9%;
        font-size: 20px;
        flex-wrap: wrap;
        width: 11%;
        font-weight: bolder;
    }

    .nom_populaire1{ 
        position: absolute;
        top: 102%;
        right: 8%;
        font-size: 20px;
        flex-wrap: wrap;
        width: 12%;
        font-weight: bolder;
    }

    .nom_populaire2{
        position: absolute;
        top: 128%;
        right: 8%;
        font-size: 20px;
        flex-wrap: wrap;
        width: 12%;
        font-weight: bolder;
    }

    .prix_populaire{ /*prix de la carte*/
        position: absolute;
        top: 84%;
        right: 9%;
        font-size: 16px;
        flex-wrap: wrap;
        width: 11%;
    }

    .prix_populaire1{
        position: absolute;
        top: 110%;
        right: 9%;
        font-size: 16px;
        flex-wrap: wrap;
        width: 11%;
    }

    .prix_populaire2{
        position: absolute;
        top: 136%;
        right: 9%;
        font-size: 16px;
        flex-wrap: wrap;
        width: 11%;
    }

    .etoile_ligne_populaire{ /*etoile de la carte*/
        position: absolute;
        top: 95%;
        right: 9%;
        flex-wrap: wrap;
        width: 11%;
        display: flex;
        align-items: center;
        color: #0065FC;
    }

    .etoile_ligne_populaire1{
        position: absolute;
        top: 121%;
        right: 9%;
        flex-wrap: wrap;
        width: 11%;
        display: flex;
        align-items: center;
        color: #0065FC;
    }

    .etoile_ligne_populaire2{
        position: absolute;
        top: 147%;
        right: 9%;
        flex-wrap: wrap;
        width: 11%;
        display: flex;
        align-items: center;
        color: #0065FC;
    }
     /*Activites a marseille*/

     .contenu_activites{ /* contenu des activites */
        width: 302%;
        height: 70%;
        margin-left: -202%;
     }

     .titres_activites{ /*titre des activites*/
        display: flex;
        width: 30%;
        height: 15%;
        font-size: 20px;
        align-items: center;
        justify-content: start;
        margin-top: 20px;
     }

     .contenu_activites_cartes{ /* contenu des cartes */
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        height: 580px;
        width: 100%;
     }


     .activites_carte-1{ /* contenu de la carte */
        height: 100%;
        width: 23%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 20px;
        
     }


     .activites_carte-2{
        height: 53%;
        width: 21%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 56px;
        border-radius: 20px;
     }

     .activites_carte-3{
        height: 37%;
        width: 21%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 20px;
     }

     .activites_carte-4{
        height: 100%;
        width: 24%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 20px;
     }

     .activites_carte-5{
        height: 45%;
        width: 21%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 20px;
        margin-bottom: 56px;
     }

     .activites_carte-6{
        height: 45%;
        width: 21%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 20px;
     }

     .image_carte-1{ /* contenu de l'image */
        height: 520px;/*1*/
        position: relative;/*2*/
        overflow: hidden;/*3*/
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
     }

     .image_carte-1 img{ /* l'image de la carte */
        width: 235%;/*4*/
        /*5 - Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
     }

     .image_carte-2{
        height: 250px;/*1*/
        position: relative;/*2*/
        overflow: hidden;/*3*/
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
     }

     .image_carte-2 img{
        width: 105%;/*4*/
        /*5 - Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translate(-50%, -50%);
     }

     .image_carte-3{
        height: 150px;/*1*/
        position: relative;/*2*/
        overflow: hidden;/*3*/
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
     }

     .image_carte-3 img{
        width: 120%;/*4*/
        /*5 - Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 77%;
        left: 50%;
        transform: translate(-50%, -50%);
     }

     .image_carte-4{
        height: 517px;/*1*/
        position: relative;/*2*/
        overflow: hidden;/*3*/
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
     }

     .image_carte-4 img{
        width: 226%;/*4*/
        /*5 - Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 50%;
        left: 56%;
        transform: translate(-50%, -50%);
     }

     .image_carte-5{
        height: 200px;/*1*/
        position: relative;/*2*/
        overflow: hidden;/*3*/
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
     }

     .image_carte-5 img{
        width: 155%;/*4*/
        /*5 - Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 66%;
        left: 29%;
        transform: translate(-50%, -50%);
     }

     .image_carte-6{
        height: 202px;/*1*/
        position: relative;/*2*/
        overflow: hidden;/*3*/
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
     }

     .image_carte-6 img{
        width: 127%;/*4*/
        /*5 - Méthode de centrage en fonction de la taille de l'image */
        position: absolute;
        top: 50%;
        left: 51%;
        transform: translate(-50%, -50%);
     }

     .nom_ativites{ /* nom des activites */
        font-weight: bolder;
        margin-left: 20px;
        margin-top: 20px;
     }




}  





   
